*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
}

.parent{
  padding: 20px;
  margin:10px;
  display: flex;
  flex-wrap: wrap;
}

.card{
  width: 300px;
  background-color: pink;
  padding: 20px;
  border-radius: 10px;
  border  : padding-box;
  border-radius: 2px
  border-color: blue
  ;
}

