*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  
}

.card{
  text-align: center;
  width: 300px;
  margin: 10px 10px;
  padding: 20px;
  border-radius: 10px;
  border  : 1px solid white;
  border-color: #333;
  ;
}

.Card button{
  padding: 20px 20px;
  border-radius: 5px;
  border-color: black;
  background-color: white;
  color: black;
  border: none;
}
.Card p{
  padding: 20px 0;
}